* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-bottom: 3rem;
  background: var(--bg-gradient);
  color: var(--text-color);
  transition: background 0.7s ease, color 0.4s ease;
  gap: 3rem;
}

.main-heading {
  font-size: 3rem;
  font-weight: 700;
  user-select: none;
  color: var(--text-color);
  margin: 0;
  text-align: center;
}


.clock {
  height: 500px;
  width: 500px;
  position: relative;
  background: radial-gradient(circle , #05363c , #000d1a);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock::before {
  content: "";
  height: 525px;
  width: 525px;
  position: absolute;
  border-radius: 50%;
  background: radial-gradient( to right , #00d9ff , #ee00ff);
  box-shadow: 0 0 15px 15px rgba(0 , 0 , 0 , 0.2);
}

.number{
  transform: rotate(calc(30deg * var(--n)));
  position: absolute;
  text-align: center;
  inset: 20px;
  font-size: 40px;
  color: #00d9ff;
  text-shadow: 0 0 12px #ee00ff;
}

.number b {
  transform: rotate(calc(-30deg * var(--n)));
  display: inline-block;
}

.center-dot {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #ee00ff;
  border: 6px solid #00d9ff;
  border-radius: 50%;
}

.hour-hand {
  width: 12px;
  height: 130px;
  background: linear-gradient(#00d9ff , #ee00ff);
}

.minute-hand {
  width: 10px;
  height: 190px;
  background: linear-gradient( to top , #00d9ff , #ee00ff);
}

.second-hand {
  width: 6px;
  height: 210px;
  background: linear-gradient( to top , #00d9ff , #ee00ff);
}

.hour-hand , .minute-hand , .second-hand {
  --rotate: 0;
  position: absolute;
  left: 50%;
  bottom: 50%;
  border-radius: 30px 30px 0 0;
  transform: translate(-50%) rotate(calc(var(--rotate) * 1deg));
  transform-origin: bottom;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 1rem 0;
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid var(--text-color);
  user-select: none;
  z-index: 1000;
}